<head>
	<title>
		<!-- change this to be the name of your app -->
		TITLE is in client/layout/head.html
	</title>
<link rel="icon" href="data:image/x-icon;AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAABILAAASCwAAAAEA
AAABAAAQPVMAeHh4ABNokQAoZ4MAPmiAAGZ/gwBbiJ0AZ5WrAACP0wAerOoANazhAEi/7gBYweIA
UsHrAFLC6wBexeoAX8fsAIaGhgCQkJAAnZ2dAKysrACtra0AsbGxALOzswC1tbUAuLi4ALm5uQC6
uroAvLy8AL29vQC/v78AqsHMAK7L0QCz6/4AwMDAAMXFxQDKysoA2tjYAODWyADf3+AA4+HgAOXl
5gDo5eUA7e3tAO3u7QD37OYA+vLuAPDw8gDx8fMA8fLzAPLy8wD28/MA8vL0APPz9AD09PUA9fX1
APX29wD29vYA9/f3APb3+AD3+PkA8fz/APj5+QD5+foA+fr6APr6+wD6+/wA+/v8APv8/AD8/P0A
/f7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAOgEBAQEBAR8EBAQEBAQfOjoRLzAxNDUHPQ8NAg4JBDo6EiYmJiYmByAMCgAKCAQ6OhMyNDU2
Ngc9EAsCCwkEOjoUJiYmJiYHICEhISEIBDo6FTU2Njg7HwcHBwcHBx86OhYmJiYmJiYGAy0tBgM6
OjoXNzg7PD4/BgMuLQYDOjo6GCYmJiYmJiYGAwMDBTo6Ohk7PD4/QUJERQYGRhk6OjobJiYmJiYm
JiYmJiYZOjo6HD5AQUJERUVGRiknGzo6Oh1AQUNERUVGRhsZGRs6OjoeQSgqRSgqRigjORsrOjo6
IkMaJUUaJUQaJBosOjo6OiIiMyIiMyIiMyI3Ojo6OgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" type="image/x-icon">

</head>
